a{
color:#7F7F7F;
}
a:hover{
color:#333333;
}

.topboder{
background:#35540A;
float:right;
margin-top:20px; 
border-left:0px;
border-bottom:0px;
border-right:0px;
color:white;
}

.skyblue{
background:#95B3D6;

}